mixin video(info)
   div 
                h4=info.title
                
                ul 
                    li #{info.reating}/5   
                    li #{info.comments} comments.            
                    li Posted #{info.createdAt}.             
                    li #{info.views}  Views     